body{

}
.container{
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8%;
  padding-right: 8%;
}

.field{
  position: relative;
  &.error{
    .prompt{
      opacity: 0;
      position: absolute !important;
      right: 0;
      top: 100%;
      z-index: 999;
    }
    .visible{
      opacity: 1;
    }
  }
}